ConfigSpace==0.3.6
cycler==0.10.0
gdbn==0.1
gnumpy==0.2
joblib==0.11
kiwisolver==1.0.1
-e git://github.com/Lasagne/Lasagne.git#egg=Lasagne
liac-arff==2.1.0
matplotlib==2.2.2
nolearn==0.6.0
numpy==1.14.3
Pillow==5.1.0
pkg-resources==0.0.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
recordclass==0.5
scikit-learn==0.19.1
scipy==1.1.0
six==1.11.0
tabulate==0.7.7
Theano==0.9.0
typing==3.6.1
